/*
Project Relaxr Landing Page
Client: Relaxr
Author: Christine Nakashiba
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

/******************************************
/* BASE STYLES
/*******************************************/

header {
	height: 300px;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	display: flex;
	align-items: left;
	flex-direction: column; 
	padding: 50px;
}

section {
	background-color: #fffff;
	display: flex;
	margin: 10px;
}

aside {
	background-color: #fffff;
	display: flex;
	flex-direction: column;	
	align-items: center;
	margin: 10px;
}

footer {
	background-color: rgb(242,244,246);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
	color: #fff;
	font-family: 'roboto';
	font-weight: 900;
	font-size: 40px;
}

h2 {
	color: rgb(16,204,114);
	font-family: 'roboto';
	font-weight: 900;
	font-size: 36;
}

h3 {
	color: #033048;
	font-family: 'roboto';
	font-weight: 700;
	font-size: 20px;
}

div#offer1, div#offer2, div#offer3 {
	flex: 1;
	text-align: center;
	margin: 10px;
}

a {
  	text-decoration: none;
}

p { 
	color: rgb(142, 149, 146);
	font-family: 'roboto';
	font-weight: 300;
	font-size: 14px;
}

div.quote {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

blockquote {
	font-family: 'roboto';
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	width: 60%;
}

cite { 
	font-family: 'roboto', medium;
	font-size: 14px;
	margin: 0 0 50px 0;
}

h4 {
	color: rgb(113,122,128);
	font-family: 'roboto';
	font-weight: 900;
	font-size: 40px;
	margin: none;
}

small {
	font-family: 'roboto';
	font-weight: 700;
	font-size: 9px;
	margin: 0 0 20px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button {
	width: 150px;
	height: 35px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	font-family: 'roboto';
	font-weight: 700;
	text-decoration: none;
	font-family: 'roboto', black;
	font-size: 14px;
}

.primary {
	background-color: rgb(16,204,114);
}

.secondary {
	background-color: rgb(115,176,248);
}