/*
Project Relaxr Landing Page & Blog
Client: Relaxr
Author: Christine Nakashiba
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

body#blog {
	display: grid;
	/*grid-gap: 10px; */
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 200px 1000px 183px;
	grid-template-areas:"a a a"
						"b c d"
						"e e e"
}

/******************************************
/* BASE STYLES
/*******************************************/

header {
	height: 400px;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	display: flex;
	align-items: left;
	flex-direction: column; 
	padding: 50px;
}

header#blogHeader {
	grid-area: a;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header a {
	color: white;
}

ul {
	display: flex;
	/*height: 100%;*/
	/*margin:0;*/
	padding-left: 0px;
	list-style-type:none;
}

li {
	flex: 1;
	margin: 0 20px;
}

aside#sideNav {
	grid-area: b;
	border: 1px solid black;
}

section#blogArticles {
	grid-area: c;
	border: 1px solid black;
}

aside#partners {
	grid-area: d;
	border: 1px solid black;
}

section {
	background-color: #fffff;
	display: flex;
	margin: 10px;
}

aside {
	background-color: #fffff;
	display: flex;
	flex-direction: column;	
	align-items: center;
	margin: 10px;
}

footer {
	grid-area: e;
	background-color: rgb(242,244,246);
	display: flex;
	flex-direction: column;
	align-items: center;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
	color: #fff;
	font-family: 'roboto';
	font-weight: 900;
	font-size: 40px;
}

h2 {
	color: rgb(16,204,114);
	font-family: 'roboto';
	font-weight: 900;
	font-size: 36;
}

h3 {
	color: #033048;
	font-family: 'roboto';
	font-weight: 700;
	font-size: 20px;
}

div#offer1, div#offer2, div#offer3 {
	flex: 1;
	text-align: center;
	margin: 10px;
}

a {
  	text-decoration: none;
}

p { 
	color: rgb(142, 149, 146);
	font-family: 'roboto';
	font-weight: 300;
	font-size: 14px;
}

div.quote {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

blockquote {
	font-family: 'roboto';
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	width: 60%;
}

cite { 
	font-family: 'roboto', medium;
	font-size: 14px;
	margin: 0 0 50px 0;
}

h4 {
	color: rgb(113,122,128);
	font-family: 'roboto';
	font-weight: 900;
	font-size: 40px;
	margin: none;
}

small {
	font-family: 'roboto';
	font-weight: 700;
	font-size: 9px;
	margin: 0 0 20px 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button {
	width: 150px;
	height: 35px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	font-family: 'roboto';
	font-weight: 700;
	text-decoration: none;
	font-family: 'roboto', black;
	font-size: 14px;
}

.primary {
	background-color: rgb(16,204,114);
}

.secondary {
	background-color: rgb(115,176,248);
}