/*
Project Relaxr Landing Page
Client: Relaxr
Author: Christine Nakashiba
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	margin: 50px;
}

a {
  text-decoration: none;
}

header {
	/*background-image: "images/bg.jpg";*/
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button {
	width: 150px;
	display: inline-block;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.primary {
	background-color: green;
}

.secondary {
	background-color: blue;
}